.topics-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .drawer {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  .topics-header {
    display: flex;
    align-items: center;
    .topics-head {
      margin: 10px;
    }
  }
}