/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f4f4f4;
}
.card-actions {
  display: flex !important;
  justify-content: flex-end;
}


.file-upoad-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  .add-card {
    width: 400px;
  }
  .form-fields {
    display: flex;
    flex-direction: column;
  }
}